* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: white;
    --text-color: white;
    --main-color: #29fd53;
}
body {
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}

.logo {
    display: flex;
    align-items: center;
}
.logo i {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
}
.logo span{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
}

.navbar {
    display: flex;
}
.navbar a {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all.50s ease;
}
.navbar a:active {
    color: var(--main-color);
}
.navbar a:hover {
    color: var(--main-color);
}

.main {
    display: flex;
    align-items: center;
}
.main a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.main a:hover{
    color: var(--main-color);
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}


@media (max-width: 1280px) {
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .navbar a:hover{
        color: var(--text-color);
        transform: translateY(5px);
    }
    .navbar a:active{
        color: var(--text-color);
    }
    .navbar.open {
        right: 2%;
    }
}
.bg {
    width: 1520px;
    height: 786px;
    opacity: 94%;
}

.title h1 {
    letter-spacing: 4px;
    position: relative;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 800;
    top: -13em;
    left: 3em;
    font-size: 48px;
}

.start {
    color: white;
    background-color: #6a6a6a;
    border: 0;
    position: relative;
    top: -46em;
    left: 11em;
    border-radius: 20px;
    width: 140px;
    height: 40px;
    cursor: pointer;
}

.start:hover {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    background: #494949;
    color: white;
    transition: all .7s ease;
}

.persegi {
    position: relative;
    top: -21.7em;
    background: black;
    opacity: 10%;
    width: 1516px;
    height: 100px;
}

.message {
    font-family: 'Poppins', sans-serif;
    top: -26.8em;
    position: relative;
    color: white;
    left: 6em;
    line-height: 1;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in-out;
  }

  .date img {
    position: relative;
    top: -5em;
    left: 13em;
    width: 100px;
    height: 100px;
    filter: grayscale(1);
    cursor: pointer
  }
  .date img:hover {
    filter: grayscale(0);
    transition: all .2s ease-in-out;
  }

  .hari h2 {
    color: white;
    position: relative;
    top: -6.5em;
    left: 14em;
  }
  .hari h3 {
    color: white;
    position: relative;
    top: -9.3em;
    left: 21em;
    font-size: medium;
    font-weight: lighter;
  }

  .stream button {
    border: 0;
    position: relative;
    top: -14.5em;
    width: 125px;
    height: 35px;
    border-radius: 20px;
    left: 90em;
    cursor: pointer;
  }
  .stream button:hover {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    color: black;
    background: var(--main-color);
    transition: all .7s ease;
  }